version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  commit-message:
    prefix: "ci"
    include: "scope"
  schedule:
    interval: "monthly"
  cooldown:
    default-days: 7

- package-ecosystem: composer
  directory: "/"
  schedule:
    interval: weekly
    day: saturday
    time: "03:00"
    timezone: Europe/Paris
  open-pull-requests-limit: 20
  commit-message:
    prefix: "build"
    include: "scope"
  versioning-strategy: "increase"
  labels:
    - "dependencies"
    - "main"
  groups:
    symfony:
      applies-to: version-updates
      patterns:
        - "symfony/*"
  cooldown:
    default-days: 7
  # Disable automatic rebasing because we need to create a server PR anyway
  rebase-strategy: "disabled"

- package-ecosystem: composer
  directory: "/"
  target-branch: stable32
  schedule:
    interval: weekly
    day: saturday
    time: "03:00"
    timezone: Europe/Paris
  open-pull-requests-limit: 20
  commit-message:
    prefix: "build"
    include: "scope"
  versioning-strategy: "increase"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-major", "version-update:semver-minor"]
  labels:
    - "dependencies"
    - "stable32"
  groups:
    symfony:
      applies-to: version-updates
      patterns:
        - "symfony/*"
  cooldown:
    default-days: 7
  # Disable automatic rebasing because we need to create a server PR anyway
  rebase-strategy: "disabled"

- package-ecosystem: composer
  directory: "/"
  target-branch: stable31
  schedule:
    interval: weekly
    day: saturday
    time: "03:00"
    timezone: Europe/Paris
  open-pull-requests-limit: 20
  commit-message:
    prefix: "build"
    include: "scope"
  versioning-strategy: "increase"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-major", "version-update:semver-minor"]
  labels:
    - "dependencies"
    - "stable31"
  groups:
    symfony:
      applies-to: version-updates
      patterns:
        - "symfony/*"
  cooldown:
    default-days: 7
  # Disable automatic rebasing because we need to create a server PR anyway
  rebase-strategy: "disabled"
