.DS_Store
bin
# ignore demo files
james-heinrich/getid3/demos
james-heinrich/getid3/helperapps

doctrine/annotations/tests
doctrine/annotations/.travis.yml
doctrine/cache/tests
doctrine/cache/.travis.yml
doctrine/cache/composer.json
doctrine/collections/tests
doctrine/collections/.travis.yml
doctrine/collections/README.md
doctrine/collections/composer.json
doctrine/common/tests
doctrine/common/.travis.yml
doctrine/common/composer.json
doctrine/dbal/tests
doctrine/dbal/docs
doctrine/dbal/run-all.sh
doctrine/dbal/.travis.yml
doctrine/inflector/tests
doctrine/lexer/composer.json
doctrine/lexer/LICENSE

pear/archive_tar/.travis.sh
pear/archive_tar/.travis.yml
pear/archive_tar/tests/
pear/archive_tar/docs/
pear/archive_tar/scripts/
pear/archive_tar/sync-php4

pear/console_getopt/tests/

pear/pear_exception/tests/

phpseclib/phpseclib/.git*
phpseclib/phpseclib/*.yml
phpseclib/phpseclib/phpunit.xml.dist
phpseclib/phpseclib/build/
phpseclib/phpseclib/tests/
phpseclib/phpseclib/travis/
phpseclib/phpseclib/CHANGELOG.md
phpseclib/phpseclib/README.md
phpseclib/phpseclib/composer.json
phpseclib/phpseclib/composer.lock
phpseclib/phpseclib/phpunit.xml.dist

symfony/console/Symfony/Component/Console/Tests
symfony/console/Symfony/Component/Console/.gitignore
symfony/console/Symfony/Component/Console/composer.json

symfony/routing/Tests/
symfony/routing/phpunit.xml.dist
symfony/routing/.gitignore

symfony/event-dispatcher/Symfony/Component/EventDispatcher/Tests/

symfony/event-dispatcher/Symfony/EventDispatcher/Debug/Routing/Tests/
symfony/event-dispatcher/Symfony/EventDispatcher/Debug/phpunit.xml.dist
symfony/event-dispatcher/Symfony/EventDispatcher/Debug/.gitignore

symfony/process/Symfony/Component/Process/Routing/Tests/
symfony/process/Symfony/Component/Process/phpunit.xml.dist
symfony/process/Symfony/Component/Process/Tests
symfony/process/Symfony/Component/Process/.gitignore

pimple/pimple/ext
pimple/pimple/.gitignore
pimple/pimple/.travis.yml
pimple/pimple/CHANGELOG
pimple/pimple/composer.json
pimple/pimple/LICENSE
pimple/pimple/phpunit.xml.dist
pimple/pimple/README.rst
pimple/pimple/src/Pimple/Tests


ircmaxell/password-compat/.travis.yml
ircmaxell/password-compat/README.md
ircmaxell/password-compat/phpunit.xml.dist
ircmaxell/password-compat/test/
ircmaxell/password-compat/version-test.php

ircmaxell/random-lib/test/
ircmaxell/random-lib/.gitignore
ircmaxell/random-lib/.travis.yml
ircmaxell/random-lib/LICENSE
ircmaxell/random-lib/README.md
ircmaxell/random-lib/composer.json
ircmaxell/random-lib/composer.lock
ircmaxell/random-lib/phpunit.xml.dist

icewind/streams/tests
icewind/streams/README.md
icewind/streams/LICENCE
icewind/streams/composer.json

swiftmailer/swiftmailer/.travis.yml
swiftmailer/swiftmailer/phpunit.xml.dist
swiftmailer/swiftmailer/doc/
swiftmailer/swiftmailer/notes/
swiftmailer/swiftmailer/tests/
swiftmailer/swiftmailer/.gitattributes
swiftmailer/swiftmailer/.gitignore
swiftmailer/swiftmailer/CHANGES
swiftmailer/swiftmailer/README
swiftmailer/swiftmailer/VERSION
swiftmailer/swiftmailer/LICENSE
swiftmailer/swiftmailer/composer.json

**/.travis.yml

guzzlehttp/guzzle/build/
guzzlehttp/guzzle/docs/
guzzlehttp/guzzle/tests/
guzzlehttp/guzzle/.gitignore
guzzlehttp/guzzle/CHANGELOG.md
guzzlehttp/guzzle/composer.json
guzzlehttp/guzzle/MAKEFILE
guzzlehttp/guzzle/phpunit.xml.dist
guzzlehttp/guzzle/README.md
guzzlehttp/guzzle/UPGRADING.md
guzzlehttp/ringphp/docs/
guzzlehttp/ringphp/tests/
guzzlehttp/ringphp/.gitignore
guzzlehttp/ringphp/CHANGELOG.md
guzzlehttp/ringphp/Makefile
guzzlehttp/ringphp/README.rst
guzzlehttp/ringphp/composer.json
guzzlehttp/ringphp/phpunit.xml.dist
guzzlehttp/streams/tests/
guzzlehttp/streams/.gitignore
guzzlehttp/streams/.travis.yml
guzzlehttp/streams/CHANGELOG.rst
guzzlehttp/streams/Makefile
guzzlehttp/streams/README.rst
guzzlehttp/streams/composer.json
guzzlehttp/streams/phpunit.xml.dist

react/promise/tests/
react/promise/.gitignore
react/promise/CHANGELOG.md
react/promise/composer.json
react/promise/phpunit.xml.dist
react/promise/README.md

nikic/php-parser/bin/
nikic/php-parser/doc/
nikic/php-parser/test/
nikic/php-parser/test_old/
nikic/php-parser/grammar/analyze.php
nikic/php-parser/grammar/rebuildParser.php

interfasys/lognormalizer/.gitignore
interfasys/lognormalizer/.travis.yml
interfasys/lognormalizer/.scrutinizer.yml
interfasys/lognormalizer/CHANGELOG.md
interfasys/lognormalizer/README.md
interfasys/lognormalizer/composer.json
interfasys/lognormalizer/phpunit.xml
interfasys/lognormalizer/tests

deepdiver1975/tarstreamer/.gitignore
deepdiver1975/tarstreamer/.travis.yml
deepdiver1975/tarstreamer/.scrutinizer.yml
deepdiver1975/tarstreamer/composer.json
deepdiver1975/tarstreamer/tests

patchwork/jsqueeze/tests
patchwork/jsqueeze/phpunit.xml.dist

sabre/dav/examples
sabre/dav/tests
sabre/event/tests
sabre/http/examples
sabre/http/tests
sabre/uri/tests
sabre/vobject/tests
sabre/xml/tests

mcnetic/zipstreamer/tests

ircmaxell/security-lib/tests

bantu/ini-get-wrapper/tests

rackspace/php-opencloud/tests

paragonie/random_compat/tests
paragonie/random_compat/phpunit.sh
paragonie/random_compat/.scrutinizer.yml
paragonie/random_compat/ERRATA.md
paragonie/random_compat/README.md
paragonie/random_compat/SECURITY.md
