.DS_Store
bin
# ignore demo files
james-heinrich/getid3/demos
james-heinrich/getid3/helperapps
mrclay/minify/min_unit_tests
mrclay/minify/min_extras
mrclay/minify/min/builder

doctrine/annotations/tests
doctrine/annotations/.travis.yml
doctrine/cache/tests
doctrine/cache/.travis.yml
doctrine/collections/tests
doctrine/collections/.travis.yml
doctrine/common/tests
doctrine/common/.travis.yml
doctrine/dbal/tests
doctrine/dbal/docs
doctrine/dbal/run-all.sh
doctrine/dbal/.travis.yml
doctrine/inflector/tests

pear/archive_tar/.travis.sh
pear/archive_tar/.travis.yml
pear/archive_tar/tests/
pear/archive_tar/docs/
pear/archive_tar/scripts/
pear/archive_tar/sync-php4

phpseclib/phpseclib/.git*
phpseclib/phpseclib/*.yml
phpseclib/phpseclib/phpunit.xml.dist
phpseclib/phpseclib/build/
phpseclib/phpseclib/tests/
phpseclib/phpseclib/travis/

symfony/console/Symfony/Component/Console/Tests
symfony/console/Symfony/Component/Console/.gitignore
symfony/console/Symfony/Component/Console/composer.json

symfony/routing/Symfony/Component/Routing/Tests/
symfony/routing/Symfony/Component/Routing/phpunit.xml.dist
symfony/routing/Symfony/Component/Routing/.gitignore

pimple/pimple/ext
pimple/pimple/.gitignore
pimple/pimple/.travis.yml
pimple/pimple/CHANGELOG
pimple/pimple/composer.json
pimple/pimple/LICENSE
pimple/pimple/phpunit.xml.dist
pimple/pimple/README.rst
pimple/pimple/src/Pimple/Tests


ircmaxell/password-compat/.travis.yml
ircmaxell/password-compat/README.md
ircmaxell/password-compat/phpunit.xml.dist
ircmaxell/password-compat/test/
ircmaxell/password-compat/version-test.php

ircmaxell/random-lib/test/
ircmaxell/random-lib/.gitignore
ircmaxell/random-lib/.travis.yml
ircmaxell/random-lib/LICENSE
ircmaxell/random-lib/README.md
ircmaxell/random-lib/composer.json
ircmaxell/random-lib/composer.lock
ircmaxell/random-lib/phpunit.xml.dist

icewind/streams/tests
