.DS_Store
bin
# ignore demo files
james-heinrich/getid3/demos
james-heinrich/getid3/helperapps
mrclay/minify/min_unit_tests
mrclay/minify/min_extras
mrclay/minify/min/builder

doctrine/annotations/tests
doctrine/annotations/.travis.yml
doctrine/cache/tests
doctrine/cache/.travis.yml
doctrine/collections/tests
doctrine/collections/.travis.yml
doctrine/common/tests
doctrine/common/.travis.yml
doctrine/dbal/tests
doctrine/dbal/docs
doctrine/dbal/run-all.sh
doctrine/dbal/.travis.yml
doctrine/inflector/tests

pear/archive_tar/.travis.sh
pear/archive_tar/.travis.yml
pear/archive_tar/tests/
pear/archive_tar/docs/
pear/archive_tar/scripts/
pear/archive_tar/sync-php4

symfony/console/Symfony/Component/Console/Tests
symfony/console/Symfony/Component/Console/.gitignore
symfony/console/Symfony/Component/Console/composer.json

