name: Compile Command

on:
  issue_comment:
    types: [created]

permissions:
  contents: read

jobs:
  init:
    runs-on: ubuntu-latest

    # On pull requests and if the comment starts with `/composer-update`
    if: github.event.issue.pull_request != '' && startsWith(github.event.comment.body, '/composer-update')

    outputs:
      head_ref: ${{ steps.comment-branch.outputs.head_ref }}

    steps:
      - name: Get repository from pull request comment
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        id: get-repository
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const pull = await github.rest.pulls.get({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number
            });

            const repositoryName = pull.data.head?.repo?.full_name
            console.log(repositoryName)
            return repositoryName

      - name: Disabled on forks
        if: ${{ fromJSON(steps.get-repository.outputs.result) != github.repository }}
        run: |
          echo 'Can not execute /composer-update on forks'
          exit 1

      - name: Check actor permission
        uses: skjnldsv/check-actor-permission@69e92a3c4711150929bca9fcf34448c5bf5526e7 # v3.0
        with:
          require: write

      - name: Add reaction on start
        uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9 # v5.0.0
        with:
          token: ${{ secrets.COMMAND_BOT_PAT }}
          repository: ${{ github.event.repository.full_name }}
          comment-id: ${{ github.event.comment.id }}
          reactions: '+1'

      - name: Init branch
        uses: xt0rted/pull-request-comment-branch@e8b8daa837e8ea7331c0003c9c316a64c6d8b0b1 # v3.0.0
        id: comment-branch

      - name: Add reaction on failure
        uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9 # v5.0.0
        if: failure()
        with:
          token: ${{ secrets.COMMAND_BOT_PAT }}
          repository: ${{ github.event.repository.full_name }}
          comment-id: ${{ github.event.comment.id }}
          reactions: '-1'

  process:
    runs-on: ubuntu-latest
    needs: init

    steps:
      - name: Checkout ${{ needs.init.outputs.head_ref }}
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: true
          token: ${{ secrets.COMMAND_BOT_PAT }}
          fetch-depth: 0
          ref: ${{ needs.init.outputs.head_ref }}

      - name: Setup git
        run: |
          git config --local user.email 'nextcloud-command@users.noreply.github.com'
          git config --local user.name 'nextcloud-command'

      - name: Set up php
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2.36.0
        with:
          php-version: 8.1
          coverage: none

      - name: Update composer
        run: sudo composer self-update && composer --version

      - name: Delete dependencies
        run: rm -rf ./*/

      - name: Download dependencies
        run: composer install --no-dev

      - name: Remove tests and other untracked files
        run: git clean -X -d -f

      - name: Dump Autoload
        run: composer dump-autoload

      - name: Commit and push amend
        run: |
          git add .
          git commit --signoff -m 'chore(autoloader): Dump autoloader'
          git push --force origin '${{ needs.init.outputs.head_ref }}'

      - name: Add reaction on failure
        uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9 # v5.0.0
        if: failure()
        with:
          token: ${{ secrets.COMMAND_BOT_PAT }}
          repository: '${{ github.event.repository.full_name }}'
          comment-id: '${{ github.event.comment.id }}'
          reactions: '-1'
