name: Compile Command
on:
  issue_comment:
    types: [created]

jobs:
  init:
    runs-on: ubuntu-latest

    # On pull requests and if the comment starts with `/composer-update`
    if: github.event.issue.pull_request != '' && startsWith(github.event.comment.body, '/composer-update')

    outputs:
      head_ref: ${{ steps.comment-branch.outputs.head_ref }}

    steps:
      - name: Check actor permission
        uses: skjnldsv/check-actor-permission@v2
        with:
          require: write

      - name: Add reaction on start
        uses: peter-evans/create-or-update-comment@v1
        with:
          token: ${{ secrets.COMMAND_BOT_PAT }}
          repository: ${{ github.event.repository.full_name }}
          comment-id: ${{ github.event.comment.id }}
          reaction-type: "+1"

      - name: Init branch
        uses: xt0rted/pull-request-comment-branch@v1
        id: comment-branch

  process:
    runs-on: ubuntu-latest
    needs: init

    steps:
      - name: Checkout ${{ needs.init.outputs.head_ref }}
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.COMMAND_BOT_PAT }}
          fetch-depth: 0
          ref: ${{ needs.init.outputs.head_ref }}

      - name: Setup git
        run: |
          git config --local user.email "nextcloud-command@users.noreply.github.com"
          git config --local user.name "nextcloud-command"

      - name: Set up php
        uses: shivammathur/setup-php@master
        with:
          php-version: 8.1
          coverage: none

      - name: Update composer
        run: sudo composer self-update && composer --version

      - name: Delete dependencies
        run: rm -rf ./*/

      - name: Download dependencies
        run: composer install --no-dev

      - name: Remove tests and other untracked files
        run: git clean -X -d -f

      - name: Dump Autoload
        run: composer dump-autoload

      - name: Commit and push amend
        run: |
          git add .
          git commit --signoff -m 'chore(autoloader): Dump autoloader'
          git push --force origin ${{ needs.init.outputs.head_ref }}

      - name: Add reaction on failure
        uses: peter-evans/create-or-update-comment@v1
        if: failure()
        with:
          token: ${{ secrets.COMMAND_BOT_PAT }}
          repository: ${{ github.event.repository.full_name }}
          comment-id: ${{ github.event.comment.id }}
          reaction-type: "-1"
