name: Composer

on:
  pull_request:
  push:
    branches:
      - master
      - stable*

jobs:
  php:
    runs-on: ubuntu-latest

    name: Check vendor changes
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Set up php
      uses: shivammathur/setup-php@master
      with:
        php-version: 7.4
        tools: composer:v1
        coverage: none
    - name: Update composer
      run: sudo composer self-update && composer --version
    - name: Vendor dependencies
      run: composer run vendor
    - name: Check vendor changes
      run: |
        bash -c "[[ ! \"`git status --porcelain `\" ]] || ( echo 'Uncommited vendor changes' && git status && git diff && exit 1 )"
